<%#
 Copyright 2013-2021 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
  "name": "<%= dasherizedBaseName %>",
  "version": "0.0.0",
  "description": "Description for <%= baseName  %>",
  "private": true,
  "license": "UNLICENSED",
  "cacheDirectories": [
    "node_modules"
  ],
  "dependencies": {
    "@fortawesome/fontawesome-svg-core": "<%= dependabotPackageJson.dependencies['@fortawesome/fontawesome-svg-core'] %>",
    "@fortawesome/free-solid-svg-icons": "<%= dependabotPackageJson.dependencies['@fortawesome/free-solid-svg-icons'] %>",
    "@fortawesome/vue-fontawesome": "<%= dependabotPackageJson.dependencies['@fortawesome/vue-fontawesome'] %>",
    "axios": "<%= dependabotPackageJson.dependencies['axios'] %>",
    "bootstrap": "<%= dependabotPackageJson.dependencies['bootstrap'] %>",
    "bootstrap-vue": "<%= dependabotPackageJson.dependencies['bootstrap-vue'] %>",
<%_ if (!clientThemeNone) { _%>
    "bootswatch": "<%= dependabotPackageJson.dependencies['bootswatch'] %>",
<%_ } _%>
    "dayjs": "<%= dependabotPackageJson.dependencies['dayjs'] %>",
    "swagger-ui-dist": "<%= dependabotPackageJson.dependencies['swagger-ui-dist'] %>",
<%_ if (communicationSpringWebsocket) { _%>
    "sockjs-client": "1.1.4",
    "webstomp-client": "1.2.0",
<%_ } _%>
    "vue": "<%= dependabotPackageJson.dependencies['vue'] %>",
    "vue-class-component": "<%= dependabotPackageJson.dependencies['vue-class-component'] %>",
    "vue-cookie": "<%= dependabotPackageJson.dependencies['vue-cookie'] %>",
    "vue-i18n": "<%= dependabotPackageJson.dependencies['vue-i18n'] %>",
    "vue-infinite-loading": "<%= dependabotPackageJson.dependencies['vue-infinite-loading'] %>",
    "vue-property-decorator": "<%= dependabotPackageJson.dependencies['vue-property-decorator'] %>",
    "vue-router": "<%= dependabotPackageJson.dependencies['vue-router'] %>",
    "vue2-filters": "<%= dependabotPackageJson.dependencies['vue2-filters'] %>",
    "vuelidate": "<%= dependabotPackageJson.dependencies['vuelidate'] %>",
    "vuex": "<%= dependabotPackageJson.dependencies['vuex'] %>"
  },
  "devDependencies": {
<%_ if (protractorTests) { _%>
    "@types/chai": "4.2.11",
    "@types/chai-string": "1.4.2",
    "@types/mocha": "7.0.2",
    "@types/selenium-webdriver": "4.0.9",
    "chai": "4.2.0",
    "chai-as-promised": "7.1.1",
    "chai-string": "1.5.0",
    "mocha": "7.1.2",
    "protractor": "7.0.0",
    "ts-node": "8.10.1",
    "webdriver-manager": "12.1.8",
<%_ } _%>
    "babel-core": "<%= dependabotPackageJson.devDependencies['babel-core'] %>",
    "@types/jest": "<%= dependabotPackageJson.devDependencies['@types/jest'] %>",
    "@types/node": "<%= dependabotPackageJson.devDependencies['@types/node'] %>",
    "@types/sinon": "<%= dependabotPackageJson.devDependencies['@types/sinon'] %>",
    "@types/vuelidate": "<%= dependabotPackageJson.devDependencies['@types/vuelidate'] %>",
    "@typescript-eslint/eslint-plugin": "<%= dependabotPackageJson.devDependencies['@typescript-eslint/eslint-plugin'] %>",
    "@typescript-eslint/parser": "<%= dependabotPackageJson.devDependencies['@typescript-eslint/parser'] %>",
    "@vue/cli-plugin-eslint": "<%= dependabotPackageJson.devDependencies['@vue/cli-plugin-eslint'] %>",
    "@vue/cli-plugin-typescript": "<%= dependabotPackageJson.devDependencies['@vue/cli-plugin-typescript'] %>",
    "@vue/cli-service": "<%= dependabotPackageJson.devDependencies['@vue/cli-service'] %>",
    "@vue/eslint-config-prettier": "<%= dependabotPackageJson.devDependencies['@vue/eslint-config-prettier'] %>",
    "@vue/eslint-config-typescript": "<%= dependabotPackageJson.devDependencies['@vue/eslint-config-typescript'] %>",
    "@vue/test-utils": "<%= dependabotPackageJson.devDependencies['@vue/test-utils'] %>",
    "autoprefixer": "<%= dependabotPackageJson.devDependencies['autoprefixer'] %>",
    "browser-sync": "<%= dependabotPackageJson.devDependencies['browser-sync'] %>",
    "browser-sync-webpack-plugin": "<%= dependabotPackageJson.devDependencies['browser-sync-webpack-plugin'] %>",
    "copy-webpack-plugin": "<%= dependabotPackageJson.devDependencies['copy-webpack-plugin'] %>",
    "css-loader": "<%= dependabotPackageJson.devDependencies['css-loader'] %>",
    "css-minimizer-webpack-plugin": "<%= dependabotPackageJson.devDependencies['css-minimizer-webpack-plugin'] %>",
    "file-loader": "<%= dependabotPackageJson.devDependencies['file-loader'] %>",
    "fork-ts-checker-webpack-plugin": "<%= dependabotPackageJson.devDependencies['fork-ts-checker-webpack-plugin'] %>",
<%_ if (!skipJhipsterDependencies) { _%>
    "generator-jhipster": "https://gitlab.com/kiebot-public/jhipster.git#kiebot-7.1.0",
    <%_ otherModules.forEach(module => { _%>
    "<%= module.name %>": "<%= module.version %>",
    <%_ });
} _%>
    "html-webpack-plugin": "<%= dependabotPackageJson.devDependencies['html-webpack-plugin'] %>",
<%_ if (!skipCommitHook) { _%>
    "husky": "<%= dependabotPackageJson.devDependencies['husky'] %>",
    "lint-staged": "<%= dependabotPackageJson.devDependencies['lint-staged'] %>",
<%_ } _%>
    "jest": "<%= dependabotPackageJson.devDependencies['jest'] %>",
    "jest-junit": "<%= dependabotPackageJson.devDependencies['jest-junit'] %>",
    "jest-serializer-vue": "<%= dependabotPackageJson.devDependencies['jest-serializer-vue'] %>",
    "jest-sonar-reporter": "<%= dependabotPackageJson.devDependencies['jest-sonar-reporter'] %>",
    "jest-vue-preprocessor": "<%= dependabotPackageJson.devDependencies['jest-vue-preprocessor'] %>",
    "merge-jsons-webpack-plugin": "<%= dependabotPackageJson.devDependencies['merge-jsons-webpack-plugin'] %>",
    "mini-css-extract-plugin": "<%= dependabotPackageJson.devDependencies['mini-css-extract-plugin'] %>",
    "node-notifier": "<%= dependabotPackageJson.devDependencies['node-notifier'] %>",
    "numeral": "<%= dependabotPackageJson.devDependencies['numeral'] %>",
    "portfinder": "<%= dependabotPackageJson.devDependencies['portfinder'] %>",
    "postcss": "<%= dependabotPackageJson.devDependencies['postcss'] %>",
    "postcss-import": "<%= dependabotPackageJson.devDependencies['postcss-import'] %>",
    "postcss-loader": "<%= dependabotPackageJson.devDependencies['postcss-loader'] %>",
    "postcss-url": "<%= dependabotPackageJson.devDependencies['postcss-url'] %>",
    "prettier": "<%= dependabotPackageJson.devDependencies['prettier'] %>",
<%_ if (!skipServer) { _%>
    "prettier-plugin-java": "<%= dependabotPackageJson.devDependencies['prettier-plugin-java'] %>",
<%_ } _%>
    "prettier-plugin-packagejson": "<%= dependabotPackageJson.devDependencies['prettier-plugin-packagejson'] %>",
<%_ if (cypressTests) { _%>
    "cypress": "<%= dependabotPackageJson.devDependencies['cypress'] %>",
    <%_ if (authenticationTypeOauth2) { _%>
    "puppeteer": "<%= dependabotPackageJson.devDependencies['puppeteer'] %>",
    <%_ } _%>
<%_ } _%>
    "rimraf": "<%= dependabotPackageJson.devDependencies['rimraf'] %>",
    "sass": "<%= dependabotPackageJson.devDependencies['sass'] %>",
    "sass-loader": "<%= dependabotPackageJson.devDependencies['sass-loader'] %>",
    "sinon": "<%= dependabotPackageJson.devDependencies['sinon'] %>",
    "terser-webpack-plugin": "<%= dependabotPackageJson.devDependencies['terser-webpack-plugin'] %>",
    "ts-jest": "<%= dependabotPackageJson.devDependencies['ts-jest'] %>",
    "ts-loader": "<%= dependabotPackageJson.devDependencies['ts-loader'] %>",
    "eslint": "<%= dependabotPackageJson.devDependencies['eslint'] %>",
    "eslint-plugin-prettier": "<%= dependabotPackageJson.devDependencies['eslint-plugin-prettier'] %>",
    "eslint-plugin-vue": "<%= dependabotPackageJson.devDependencies['eslint-plugin-vue'] %>",
    "typescript": "<%= dependabotPackageJson.devDependencies['typescript'] %>",
    "url-loader": "<%= dependabotPackageJson.devDependencies['url-loader'] %>",
    "vue-jest": "<%= dependabotPackageJson.devDependencies['vue-jest'] %>",
    "vue-loader": "<%= dependabotPackageJson.devDependencies['vue-loader'] %>",
    "vue-template-compiler": "<%= dependabotPackageJson.devDependencies['vue-template-compiler'] %>",
    "webpack": "<%= dependabotPackageJson.devDependencies['webpack'] %>",
    "webpack-bundle-analyzer": "<%= dependabotPackageJson.devDependencies['webpack-bundle-analyzer'] %>",
    "webpack-cli": "<%= dependabotPackageJson.devDependencies['webpack-cli'] %>",
    "webpack-dev-server": "<%= dependabotPackageJson.devDependencies['webpack-dev-server'] %>",
    "webpack-merge": "<%= dependabotPackageJson.devDependencies['webpack-merge'] %>",
    "workbox-webpack-plugin": "<%= dependabotPackageJson.devDependencies['workbox-webpack-plugin'] %>"
  },
  "engines": {
    "node": ">=<%= NODE_VERSION %>",
    "npm": ">= 6.14.4"
  },
  "config": {
    "default_environment": "prod"
  },
  "scripts": {
    "prettier:check": "prettier --check \"{,src/**/,webpack/}*.{<%= getPrettierExtensions() %>}\"",
    "prettier:format": "prettier --write \"{,src/**/,webpack/}*.{<%= getPrettierExtensions() %>}\"",
    "lint": "vue-cli-service lint --no-fix",
    "lint:fix": "vue-cli-service lint",
    "cleanup": "rimraf <%= DIST_DIR %>",
    "clean-www": "rimraf <%= DIST_DIR %>app/{src,<%= BUILD_DIR %>}",
    "start": "<%= clientPackageManager %> run webapp:dev",
    "start-tls": "<%= clientPackageManager %> run webapp:dev -- --env.tls",
    "serve": "<%= clientPackageManager %> run start",
    "build": "<%= clientPackageManager %> run webapp:prod",
<%_ if (protractorTests && !cypressTests) { _%>
    "e2e": "<%= clientPackageManager %> run e2e:protractor",
    "e2e:headless": "<%= clientPackageManager %> run e2e:protractor:headless",
<%_ } else if ((cypressTests && !protractorTests) || (protractorTests && cypressTests)) {  _%>
    "e2e": "<%= clientPackageManager %> run e2e:cypress",
    "e2e:headless": "<%= clientPackageManager %> run e2e:cypress:headless",
<%_ } _%>
<%_ if (protractorTests) { _%>
    "e2e:protractor:headless": "<%= clientPackageManager %> run e2e:protractor",
    "e2e:protractor": "protractor <%= TEST_SRC_DIR %>protractor.conf.js",
<%_ } _%>
<%_ if (cypressTests) { _%>
    "e2e:cypress:headless": "<%= clientPackageManager %> run e2e:cypress -- --headless",
    "e2e:cypress": "cypress run --browser chrome --record ${CYPRESS_ENABLE_RECORD:-false}",
    "cypress": "cypress open",
<%_ } _%>
<%_ if (protractorTests) { _%>
    "postinstall": "<%= clientPackageManager %> run e2e:update-webdriver",
    "e2e:update-webdriver": "webdriver-manager update --gecko false",
<%_ } _%>
    "jest": "jest --coverage --logHeapUsage --maxWorkers=2 --no-cache --config <%= CLIENT_TEST_SRC_DIR %>jest.conf.js",
    "jest:update": "<%= clientPackageManager %> run jest -- --updateSnapshot",
    "pretest": "<%= clientPackageManager %> run lint",
    "test": "<%= clientPackageManager %> run jest",
    "test-ci": "<%= clientPackageManager %> run lint && <%= clientPackageManager %> run jest:update",
    "test:watch": "<%= clientPackageManager %> run jest -- --watch",
    "webapp:build": "<%= clientPackageManager %> run clean-www && <%= clientPackageManager %> run webapp:build:dev",
    "webapp:build:dev": "<%= clientPackageManager %> run webpack -- --config webpack/webpack.dev.js --progress=profile --env stats=minimal",
    "webapp:build:prod": "<%= clientPackageManager %> run webpack -- --config webpack/webpack.prod.js --progress=profile --env stats=minimal",
    "webapp:dev": "<%= clientPackageManager %> run webpack-dev-server -- --config webpack/webpack.dev.js --progress=profile --inline --env stats=normal",
    "webapp:prod": "<%= clientPackageManager %> run clean-www && <%= clientPackageManager %> run webapp:build:prod",
    "webapp:test": "<%= clientPackageManager %> run test",
    "webpack-dev-server": "webpack serve",
    "webpack": "node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js"
  },
  "jestSonar": {
    "reportPath": "<%= BUILD_DIR %>test-results/jest",
    "reportFile": "TESTS-results-sonar.xml"
  },
  "browserslist": [
    "> 1%",
    "last 2 versions",
    "not ie <= 8"
  ]
}
