<%#
 Copyright 2013-2021 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
  "name": "<%= dasherizedBaseName %>",
  "version": "0.0.1-SNAPSHOT",
  "description": "Description for <%= baseName %>",
  "private": true,
  "license": "UNLICENSED",
  "cacheDirectories": [
    "node_modules"
  ],
  "dependencies": {
    "@angular/common": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular/compiler": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular/core": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular/forms": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular/localize": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular/platform-browser": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular/platform-browser-dynamic": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular/router": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@fortawesome/angular-fontawesome": "<%= dependabotPackageJson.dependencies['@fortawesome/angular-fontawesome'] %>",
    "@fortawesome/fontawesome-svg-core": "<%= dependabotPackageJson.dependencies['@fortawesome/fontawesome-svg-core'] %>",
    "@fortawesome/free-solid-svg-icons": "<%= dependabotPackageJson.dependencies['@fortawesome/free-solid-svg-icons'] %>",
    "@ng-bootstrap/ng-bootstrap": "<%= dependabotPackageJson.dependencies['@ng-bootstrap/ng-bootstrap'] %>",
<%_ if (enableTranslation) { _%>
    "@ngx-translate/core": "<%= dependabotPackageJson.dependencies['@ngx-translate/core'] %>",
    "@ngx-translate/http-loader": "<%= dependabotPackageJson.dependencies['@ngx-translate/http-loader'] %>",
<%_ } _%>
    "bootstrap": "<%= dependabotPackageJson.dependencies.bootstrap %>",
    <%_ if (!clientThemeNone) { _%>
    "bootswatch": "<%= dependabotPackageJson.dependencies.bootstrap %>",
    <%_ } _%>
    "dayjs": "<%= dependabotPackageJson.dependencies['dayjs'] %>",
    <%_ if (authenticationTypeSession && websocket === 'spring-websocket') { _%>
    "ngx-cookie-service": "<%= dependabotPackageJson.dependencies['ngx-cookie-service'] %>",
    <%_ } _%>
    "ngx-infinite-scroll": "<%= dependabotPackageJson.dependencies['ngx-infinite-scroll'] %>",
    "ngx-webstorage": "<%= dependabotPackageJson.dependencies['ngx-webstorage'] %>",
    "rxjs": "<%= dependabotPackageJson.dependencies['rxjs'] %>",
    "swagger-ui-dist": "<%= dependabotPackageJson.dependencies['swagger-ui-dist'] %>",
    <%_ if (websocket === 'spring-websocket') { _%>
    "sockjs-client": "1.5.0",
    "webstomp-client": "1.2.6",
    <%_ } _%>
    <%_ if (skipServer) { _%>
    "sonar-scanner": "3.1.0",
    <%_ } _%>
    "tslib": "<%= dependabotPackageJson.dependencies['tslib'] %>",
    "zone.js": "<%= dependabotPackageJson.dependencies['zone.js'] %>"
  },
  "devDependencies": {
<%_ if (protractorTests) { _%>
    "@types/chai": "4.2.14",
    "@types/chai-string": "1.4.2",
    "@types/mocha": "8.2.0",
    "@types/selenium-webdriver": "4.0.11",
    "chai": "4.2.0",
    "chai-as-promised": "7.1.1",
    "chai-string": "1.5.0",
    "mocha": "8.2.1",
    "protractor": "7.0.0",
    "ts-node": "9.1.1",
    "webdriver-manager": "12.1.8",
<%_ } _%>
<%_ if (websocket === 'spring-websocket') { _%>
    "@types/sockjs-client": "1.5.0",
<%_ } _%>
<%_ if (!skipCommitHook) { _%>
    "husky": "<%= dependabotPackageJson.devDependencies['husky'] %>",
    "lint-staged": "<%= dependabotPackageJson.devDependencies['lint-staged'] %>",
<%_ } _%>
<%_ if (cypressTests) { _%>
    "cypress": "<%= dependabotPackageJson.devDependencies['cypress'] %>",
<%_ if (authenticationType === 'oauth2') { _%>
    "puppeteer": "<%= dependabotPackageJson.devDependencies['puppeteer'] %>",
<%_ } _%>
<%_ } _%>
<%_ if (enableTranslation) { _%>
    "merge-jsons-webpack-plugin": "<%= dependabotPackageJson.devDependencies['merge-jsons-webpack-plugin'] %>",
<%_ } _%>
<%_ if (!skipServer) { _%>
    "prettier-plugin-java": "<%= dependabotPackageJson.devDependencies['prettier-plugin-java'] %>",
<%_ } _%>
    "@angular/cli": "<%= dependabotPackageJson.devDependencies['@angular/cli'] %>",
    "@angular/compiler-cli": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular-builders/custom-webpack": "<%= dependabotPackageJson.devDependencies['@angular-builders/custom-webpack'] %>",
    "@angular-builders/jest": "<%= dependabotPackageJson.devDependencies['@angular-builders/jest'] %>",
    "@angular/service-worker": "<%= dependabotPackageJson.dependencies['@angular/common'] %>",
    "@angular-eslint/eslint-plugin": "<%= dependabotPackageJson.devDependencies['@angular-eslint/eslint-plugin'] %>",
    "@types/jest": "<%= dependabotPackageJson.devDependencies['@types/jest'] %>",
    "@types/node": "<%= dependabotPackageJson.devDependencies['@types/node'] %>",
    "@typescript-eslint/eslint-plugin": "<%= dependabotPackageJson.devDependencies['@typescript-eslint/eslint-plugin'] %>",
    "@typescript-eslint/parser": "<%= dependabotPackageJson.devDependencies['@typescript-eslint/eslint-plugin'] %>",
    "browser-sync": "<%= dependabotPackageJson.devDependencies['browser-sync'] %>",
    "browser-sync-webpack-plugin": "<%= dependabotPackageJson.devDependencies['browser-sync-webpack-plugin'] %>",
    "copy-webpack-plugin": "<%= dependabotPackageJson.devDependencies['copy-webpack-plugin'] %>",
    "eslint": "<%= dependabotPackageJson.devDependencies['eslint'] %>",
    "eslint-config-prettier": "<%= dependabotPackageJson.devDependencies['eslint-config-prettier'] %>",
    "eslint-webpack-plugin": "<%= dependabotPackageJson.devDependencies['eslint-webpack-plugin'] %>",
<%_ if (!skipJhipsterDependencies) { _%>
    "generator-jhipster": "https://gitlab.com/kiebot-public/jhipster.git#kiebot-7.1.0",
    <%_ otherModules.forEach(module => { _%>
    "<%= module.name %>": "<%= module.version %>",
    <%_ });
} _%>
    "jest": "<%= dependabotPackageJson.devDependencies['jest'] %>",
    "jest-date-mock": "<%= dependabotPackageJson.devDependencies['jest-date-mock'] %>",
    "jest-junit": "<%= dependabotPackageJson.devDependencies['jest-junit'] %>",
    "jest-sonar-reporter": "<%= dependabotPackageJson.devDependencies['jest-sonar-reporter'] %>",
    "prettier": "<%= dependabotPackageJson.devDependencies['prettier'] %>",
    "prettier-plugin-packagejson": "<%= dependabotPackageJson.devDependencies['prettier-plugin-packagejson'] %>",
    "rimraf": "<%= dependabotPackageJson.devDependencies['rimraf'] %>",
    "ts-jest": "<%= dependabotPackageJson.devDependencies['ts-jest'] %>",
    "typescript": "<%= dependabotPackageJson.devDependencies['typescript'] %>",
    "webpack-bundle-analyzer": "<%= dependabotPackageJson.devDependencies['webpack-bundle-analyzer'] %>",
    "webpack-merge": "<%= dependabotPackageJson.devDependencies['webpack-merge'] %>",
    "webpack-notifier": "<%= dependabotPackageJson.devDependencies['webpack-notifier'] %>"
  },
  "engines": {
    "node": ">=<%= NODE_VERSION %>"
  },
  "config": {
    "default_environment": "prod"
  },
  "scripts": {
    "prettier:check": "prettier --check \"{,src/**/,webpack/}*.{<%= getPrettierExtensions() %>}\"",
    "prettier:format": "prettier --write \"{,src/**/,webpack/}*.{<%= getPrettierExtensions() %>}\"",
    "lint": "eslint . --ext .js,.ts",
    "lint:fix": "<%= clientPackageManager %> run lint -- --fix",
    "cleanup": "rimraf <%= DIST_DIR %>",
    "clean-www": "rimraf <%= DIST_DIR %>app/{src,<%= BUILD_DIR %>}",
    <%_ if (protractorTests && !cypressTests) { _%>
    "e2e": "<%= clientPackageManager %> run e2e:protractor",
    "e2e:headless": "<%= clientPackageManager %> run e2e:protractor:headless",
    <%_ } else if ((cypressTests && !protractorTests) || (protractorTests && cypressTests)) {  _%>
    "e2e": "<%= clientPackageManager %> run e2e:cypress",
    "e2e:headless": "<%= clientPackageManager %> run e2e:cypress:headless",
    <%_ } _%>
    <%_ if (protractorTests) { _%>
    "e2e:protractor:headless": "<%= clientPackageManager %> run e2e:protractor",
    "e2e:protractor": "protractor <%= TEST_SRC_DIR %>protractor.conf.js",
    <%_ } _%>
    <%_ if (cypressTests) { _%>
    "e2e:cypress:headless": "<%= clientPackageManager %> run e2e:cypress -- --headless",
    "e2e:cypress": "cypress run --browser chrome --record ${CYPRESS_ENABLE_RECORD:-false}",
    "cypress": "cypress open",
    <%_ } _%>
    <%_ if (protractorTests) { _%>
    "postinstall": "<%= clientPackageManager %> run e2e:update-webdriver",
    "e2e:update-webdriver": "webdriver-manager update --gecko false",
    <%_ } _%>
    "jest": "jest --coverage --logHeapUsage --maxWorkers=2 --config jest.conf.js",
    "start": "ng serve<% if (!microfrontend) { %> --hmr<% } %>",
    "start-tls": "<%= clientPackageManager %> run webapp:dev -- --env.tls",
    <%_ if (skipServer) { _%>
    "sonar": "sonar-scanner",
    <%_ } _%>
    "serve": "<%= clientPackageManager %> run start",
    "build": "<%= clientPackageManager %> run webapp:prod",
    "pretest": "<%= clientPackageManager %> run lint",
    "test": "ng test --coverage --log-heap-usage -w=2",
    "test:watch": "<%= clientPackageManager %> run test -- --watch",
    "watch": "concurrently npm:start<% if(!skipServer) { %> npm:backend:start<% } %>",
    "webapp:build": "<%= clientPackageManager %> run clean-www && <%= clientPackageManager %> run webapp:build:dev",
    "webapp:build:dev": "ng build --configuration development",
    "webapp:build:prod": "ng build --configuration production",
    "webapp:dev": "ng serve",
    "webapp:dev-verbose": "ng serve --verbose",
    "webapp:prod": "<%= clientPackageManager %> run clean-www && <%= clientPackageManager %> run webapp:build:prod",
    "webapp:test": "<%= clientPackageManager %> run test"
  },
  "jestSonar": {
    "reportPath": "<%= BUILD_DIR %>test-results/jest",
    "reportFile": "TESTS-results-sonar.xml"
  }
}
