<%#
 Copyright 2013-2021 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
const webpack = require('webpack');
const webpackMerge = require('webpack-merge').merge;
const BrowserSyncPlugin = require('browser-sync-webpack-plugin');
const SimpleProgressWebpackPlugin = require('simple-progress-webpack-plugin');
const path = require('path');
const sass = require('sass');

const utils = require('./utils.js');
const commonConfig = require('./webpack.common.js');

const ENV = 'development';

module.exports = (options) => webpackMerge(commonConfig({ env: ENV }), {
  devtool: 'cheap-module-source-map', // https://reactjs.org/docs/cross-origin-errors.html
  mode: ENV,
  entry: [
    './<%= CLIENT_MAIN_SRC_DIR %>app/index'
  ],
  output: {
    path: utils.root('<%= DIST_DIR %>'),
    filename: 'app/[name].bundle.js',
    chunkFilename: 'app/[id].chunk.js'
  },
  optimization: {
    moduleIds: 'named',
  },
  module: {
    rules: [
      {
        test: /\.(sa|sc|c)ss$/,
        use: ['style-loader', 'css-loader', 'postcss-loader', {
            loader: 'sass-loader',
            options: { implementation: sass }
          }
        ]
      }
    ]
  },
  devServer: {
    stats: options.stats,
    hot: true,
    contentBase: './<%= DIST_DIR %>',
    port: <%= devServerPort %>,
    proxy: [{
      context: [
        '/api',
        '/services',
        '/management',
        '/swagger-resources',
        '/v2/api-docs',
        '/v3/api-docs',
        '/h2-console',<% if (authenticationTypeOauth2) { %>
        '/oauth2',
        '/login',<% } %>
        '/auth'
      ],
      target: `http${options.tls ? 's' : ''}://localhost:<%= serverPort %>`,
      secure: false,
      changeOrigin: options.tls
    }<% if (communicationSpringWebsocket) { %>,{
      context: [
        '/websocket'
      ],
      target: 'ws://127.0.0.1:<%= serverPort %>',
      ws: true
    }<% } %>],
    watchOptions: {
      ignore: [/node_modules/, utils.root('src/test')],
    },
    https: options.tls,
    historyApiFallback: true
  },
  stats: process.env.JHI_DISABLE_WEBPACK_LOGS ? 'none' : options.stats,
  plugins: [
    process.env.JHI_DISABLE_WEBPACK_LOGS
      ? null
      : new SimpleProgressWebpackPlugin({
          format: options.stats === 'minimal' ? 'compact' : 'expanded'
        }),
    new BrowserSyncPlugin(
      {
        https: options.tls,
        host: 'localhost',
        port: 9000,
        proxy: {
          target: `http${options.tls ? 's' : ''}://localhost:<%= devServerPort %>`<% if (communicationSpringWebsocket) { %>,
          ws: true<% } %>,
          proxyOptions: {
              changeOrigin: false  //pass the Host header to the backend unchanged  https://github.com/Browsersync/browser-sync/issues/430
          }
      },
      socket: {
        clients: {
          heartbeatTimeout: 60000
        }
      }
      /*
      ,ghostMode: { // uncomment this part to disable BrowserSync ghostMode; https://github.com/jhipster/generator-jhipster/issues/11116
        clicks: false,
        location: false,
        forms: false,
        scroll: false
      } */
    }, {
      reload: false
    }),
    new webpack.HotModuleReplacementPlugin()
  ].filter(Boolean)
});
