# Prettier configuration

printWidth: 120
singleQuote: true
tabWidth: 2
useTabs: false
semi: true
quoteProps: consistent
bracketSpacing: true

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
jsxBracketSameLine: false
jsxSingleQuote: false
<%_ if (!skipServer) { _%>

# java rules:
overrides:
  - files: "*.java"
    options:
      tabWidth: 4
<%_ } _%>
