<%#
 Copyright 2013-2021 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
{
  "name": "<%= dasherizedBaseName %>",
  "version": "0.0.1-SNAPSHOT",
  "description": "Description for <%= baseName %>",
  "private": true,
  "license": "UNLICENSED",
  "cacheDirectories": [
    "node_modules"
  ],
  "dependencies": {
    "@fortawesome/fontawesome-svg-core": "<%= dependabotPackageJson.dependencies['@fortawesome/fontawesome-svg-core'] %>",
    "@fortawesome/free-solid-svg-icons": "<%= dependabotPackageJson.dependencies['@fortawesome/free-solid-svg-icons'] %>",
    "@fortawesome/react-fontawesome": "<%= dependabotPackageJson.dependencies['@fortawesome/react-fontawesome'] %>",
    "@reduxjs/toolkit": "<%= dependabotPackageJson.dependencies['@reduxjs/toolkit'] %>",
    "axios": "<%= dependabotPackageJson.dependencies['axios'] %>",
    "bootstrap": "<%= dependabotPackageJson.dependencies['bootstrap'] %>",
<%_ if (!clientThemeNone) { _%>
    "bootswatch": "<%= dependabotPackageJson.dependencies['bootswatch'] %>",
<%_ } _%>
    "dayjs": "<%= dependabotPackageJson.dependencies['dayjs'] %>",
    "loaders.css": "<%= dependabotPackageJson.dependencies['loaders.css'] %>",
    "lodash": "<%= dependabotPackageJson.dependencies['lodash'] %>",
    "path-browserify": "<%= dependabotPackageJson.dependencies['path-browserify'] %>",
    "react": "<%= dependabotPackageJson.dependencies['react'] %>",
    "react-dom": "<%= dependabotPackageJson.dependencies['react-dom'] %>",
    "react-hook-form": "<%= dependabotPackageJson.dependencies['react-hook-form'] %>",
    "react-hot-loader": "<%= dependabotPackageJson.dependencies['react-hot-loader'] %>",
    "react-jhipster": "<%= dependabotPackageJson.dependencies['react-jhipster'] %>",
    "react-loadable": "<%= dependabotPackageJson.dependencies['react-loadable'] %>",
    "react-redux": "<%= dependabotPackageJson.dependencies['react-redux'] %>",
    "react-redux-loading-bar": "<%= dependabotPackageJson.dependencies['react-redux-loading-bar'] %>",
    "react-router-dom": "<%= dependabotPackageJson.dependencies['react-router-dom'] %>",
    "react-toastify": "<%= dependabotPackageJson.dependencies['react-toastify'] %>",
    "react-transition-group": "<%= dependabotPackageJson.dependencies['react-transition-group'] %>",
    "reactstrap": "<%= dependabotPackageJson.dependencies['reactstrap'] %>",
    "redux": "<%= dependabotPackageJson.dependencies['redux'] %>",
    "redux-thunk": "<%= dependabotPackageJson.dependencies['redux-thunk'] %>",
<%_ if (communicationSpringWebsocket) { _%>
    "rxjs": "6.6.3",
    "sockjs-client": "1.5.0",
<%_ } _%>
<%_ if (skipServer) { _%>
    "sonar-scanner": "<%= dependabotPackageJson.dependencies['sonar-scanner'] %>",
<%_ } _%>
    "tslib": "<%= dependabotPackageJson.dependencies['tslib'] %>",
    "uuid": "<%= dependabotPackageJson.dependencies['uuid'] %>"<% if (communicationSpringWebsocket) { %>,
    "webstomp-client": "1.2.6"
    <%_ } _%>
  },
  "devDependencies": {
    "cspell": "^5.6.3",
    "@testing-library/react": "<%= dependabotPackageJson.devDependencies['@testing-library/react'] %>",
<%_ if (protractorTests) { _%>
    "@types/chai": "4.2.11",
<%_ } _%>
    "@types/jest": "<%= dependabotPackageJson.devDependencies['@types/jest'] %>",
    "@types/lodash": "<%= dependabotPackageJson.devDependencies['@types/lodash'] %>",
<%_ if (protractorTests) { _%>
    "@types/mocha": "7.0.2",
<%_ } _%>
    "@types/node": "<%= dependabotPackageJson.devDependencies['@types/node'] %>",
    "@types/react": "<%= dependabotPackageJson.devDependencies['@types/react'] %>",
    "@types/react-dom": "<%= dependabotPackageJson.devDependencies['@types/react-dom'] %>",
    "@types/react-redux": "<%= dependabotPackageJson.devDependencies['@types/react-redux'] %>",
    "@types/react-router-dom": "<%= dependabotPackageJson.devDependencies['@types/react-router-dom'] %>",
    "@types/redux": "<%= dependabotPackageJson.devDependencies['@types/redux'] %>",
<%_ if (protractorTests) { _%>
    "@types/selenium-webdriver": "4.0.9",
<%_ } _%>
    "@types/webpack-env": "<%= dependabotPackageJson.devDependencies['@types/webpack-env'] %>",
    "@typescript-eslint/eslint-plugin": "<%= dependabotPackageJson.devDependencies['@typescript-eslint/eslint-plugin'] %>",
    "@typescript-eslint/parser": "<%= dependabotPackageJson.devDependencies['@typescript-eslint/parser'] %>",
    "autoprefixer": "<%= dependabotPackageJson.devDependencies['autoprefixer'] %>",
    "browser-sync": "<%= dependabotPackageJson.devDependencies['browser-sync'] %>",
    "browser-sync-webpack-plugin": "<%= dependabotPackageJson.devDependencies['browser-sync-webpack-plugin'] %>",
<%_ if (protractorTests) { _%>
    "chai": "4.2.0",
    "chai-as-promised": "7.1.1",
<%_ } _%>
    "copy-webpack-plugin": "<%= dependabotPackageJson.devDependencies['copy-webpack-plugin'] %>",
    "core-js": "<%= dependabotPackageJson.devDependencies['core-js'] %>",
    "cross-env": "<%= dependabotPackageJson.devDependencies['cross-env'] %>",
    "css-loader": "<%= dependabotPackageJson.devDependencies['css-loader'] %>",
    "css-minimizer-webpack-plugin": "<%= dependabotPackageJson.devDependencies['css-minimizer-webpack-plugin'] %>",
    "eslint": "<%= dependabotPackageJson.devDependencies['eslint'] %>",
    "eslint-config-prettier": "<%= dependabotPackageJson.devDependencies['eslint-config-prettier'] %>",
    "eslint-plugin-react": "<%= dependabotPackageJson.devDependencies['eslint-plugin-react'] %>",
    "eslint-webpack-plugin": "<%= dependabotPackageJson.devDependencies['eslint-webpack-plugin'] %>",
    "file-loader": "<%= dependabotPackageJson.devDependencies['file-loader'] %>",
    "fork-ts-checker-webpack-plugin": "<%= dependabotPackageJson.devDependencies['fork-ts-checker-webpack-plugin'] %>",
<%_ if (!skipJhipsterDependencies) { _%>
    "generator-jhipster": "https://gitlab.com/kiebot-public/jhipster.git#kiebot-7.1.0",
  <%_ otherModules.forEach(module => { _%>
    "<%= module.name %>": "<%= module.version %>",
  <%_ });
} _%>
    "html-webpack-plugin": "<%= dependabotPackageJson.devDependencies['html-webpack-plugin'] %>",
    "identity-obj-proxy": "<%= dependabotPackageJson.devDependencies['identity-obj-proxy'] %>",
    "jest": "<%= dependabotPackageJson.devDependencies['jest'] %>",
    "jest-junit": "<%= dependabotPackageJson.devDependencies['jest-junit'] %>",
    "jest-sonar-reporter": "<%= dependabotPackageJson.devDependencies['jest-sonar-reporter'] %>",
    "json-loader": "<%= dependabotPackageJson.devDependencies['json-loader'] %>",
<%_ if (!skipCommitHook) { _%>
    "husky": "<%= dependabotPackageJson.devDependencies['husky'] %>",
    "lint-staged": "<%= dependabotPackageJson.devDependencies['lint-staged'] %>",
<%_ } _%>
<%_ if (enableTranslation) { _%>
    "merge-jsons-webpack-plugin": "<%= dependabotPackageJson.devDependencies['merge-jsons-webpack-plugin'] %>",
<%_ } _%>
    "mini-css-extract-plugin": "<%= dependabotPackageJson.devDependencies['mini-css-extract-plugin'] %>",
<%_ if (protractorTests) { _%>
    "mocha": "7.1.2",
<%_ } _%>
    "postcss-loader": "<%= dependabotPackageJson.devDependencies['postcss-loader'] %>",
    "prettier": "<%= dependabotPackageJson.devDependencies['prettier'] %>",
<%_ if (!skipServer) { _%>
    "prettier-plugin-java": "<%= dependabotPackageJson.devDependencies['prettier-plugin-java'] %>",
<%_ } _%>
    "prettier-plugin-packagejson": "<%= dependabotPackageJson.devDependencies['prettier-plugin-packagejson'] %>",
<%_ if (protractorTests) { _%>
    "protractor": "7.0.0",
<%_ } _%>
    "react-infinite-scroller": "<%= dependabotPackageJson.devDependencies['react-infinite-scroller'] %>",
    "redux-mock-store": "<%= dependabotPackageJson.devDependencies['redux-mock-store'] %>",
    "rimraf": "<%= dependabotPackageJson.devDependencies['rimraf'] %>",
    "sass": "<%= dependabotPackageJson.devDependencies['sass'] %>",
    "sass-loader": "<%= dependabotPackageJson.devDependencies['sass-loader'] %>",
    "simple-progress-webpack-plugin": "<%= dependabotPackageJson.devDependencies['simple-progress-webpack-plugin'] %>",
    "sinon": "<%= dependabotPackageJson.devDependencies['sinon'] %>",
    "source-map-loader": "<%= dependabotPackageJson.devDependencies['source-map-loader'] %>",
    "sourcemap-istanbul-instrumenter-loader": "<%= dependabotPackageJson.devDependencies['sourcemap-istanbul-instrumenter-loader'] %>",
    "stripcomment-loader": "<%= dependabotPackageJson.devDependencies['stripcomment-loader'] %>",
    "style-loader": "<%= dependabotPackageJson.devDependencies['style-loader'] %>",
    "swagger-ui-dist": "<%= dependabotPackageJson.devDependencies['swagger-ui-dist'] %>",
    "terser-webpack-plugin": "<%= dependabotPackageJson.devDependencies['terser-webpack-plugin'] %>",
    "thread-loader": "<%= dependabotPackageJson.devDependencies['thread-loader'] %>",
    "to-string-loader": "<%= dependabotPackageJson.devDependencies['to-string-loader'] %>",
    "ts-jest": "<%= dependabotPackageJson.devDependencies['ts-jest'] %>",
    "ts-loader": "<%= dependabotPackageJson.devDependencies['ts-loader'] %>",
<%_ if (protractorTests) { _%>
    "ts-node": "8.9.1",
<%_ } _%>
<%_ if (cypressTests) { _%>
    "cypress": "<%= dependabotPackageJson.devDependencies['cypress'] %>",
  <%_ if (authenticationTypeOauth2) { _%>
    "puppeteer": "<%= dependabotPackageJson.devDependencies['puppeteer'] %>",
  <%_ } _%>
<%_ } _%>
    "typescript": "<%= dependabotPackageJson.devDependencies['typescript'] %>",
<%_ if (protractorTests) { _%>
    "webdriver-manager": "12.1.8",
<%_ } _%>
    "webpack": "<%= dependabotPackageJson.devDependencies['webpack'] %>",
    "webpack-cli": "<%= dependabotPackageJson.devDependencies['webpack-cli'] %>",
    "webpack-dev-server": "<%= dependabotPackageJson.devDependencies['webpack-dev-server'] %>",
    "webpack-merge": "<%= dependabotPackageJson.devDependencies['webpack-merge'] %>",
    "webpack-notifier": "<%= dependabotPackageJson.devDependencies['webpack-notifier'] %>",
    "workbox-webpack-plugin": "<%= dependabotPackageJson.devDependencies['workbox-webpack-plugin'] %>"
  },
  "engines": {
    "node": ">=<%= NODE_VERSION %>"
  },
  "config": {
    "default_environment": "prod"
  },
  "scripts": {
    "prettier:check": "prettier --check \"{,src/**/,webpack/}*.{<%= getPrettierExtensions() %>}\"",
    "prettier:format": "prettier --write \"{,src/**/,webpack/}*.{<%= getPrettierExtensions() %>}\"",
    "lint": "eslint . --ext .js,.ts,.jsx,.tsx",
    "lint:fix": "<%= clientPackageManager %> run lint -- --fix",
    "cleanup": "rimraf <%= DIST_DIR %>",
    "clean-www": "rimraf <%= DIST_DIR %>app/{src,<%= BUILD_DIR %>}",
<%_ if (protractorTests && !cypressTests) { _%>
    "e2e": "<%= clientPackageManager %> run e2e:protractor",
    "e2e:headless": "<%= clientPackageManager %> run e2e:protractor:headless",
<%_ } else if ((cypressTests && !protractorTests) || (protractorTests && cypressTests)) {  _%>
    "e2e": "<%= clientPackageManager %> run e2e:cypress",
    "e2e:headless": "<%= clientPackageManager %> run e2e:cypress:headless",
<%_ } _%>
<%_ if (protractorTests) { _%>
    "e2e:protractor:headless": "<%= clientPackageManager %> run e2e:protractor",
    "e2e:protractor": "protractor <%= TEST_SRC_DIR %>protractor.conf.js",
<%_ } _%>
<%_ if (cypressTests) { _%>
    "e2e:cypress:headless": "<%= clientPackageManager %> run e2e:cypress -- --headless",
    "e2e:cypress": "cypress run --browser chrome --record ${CYPRESS_ENABLE_RECORD:-false}",
    "cypress": "cypress open",
<%_ } _%>
<%_ if (protractorTests) { _%>
    "postinstall": "<%= clientPackageManager %> run e2e:update-webdriver",
    "e2e:update-webdriver": "webdriver-manager update --gecko false",
<%_ } _%>
    "jest": "jest --coverage --logHeapUsage --maxWorkers=2 --config jest.conf.js",
    "jest:update": "<%= clientPackageManager %> run jest -- --updateSnapshot",
    "start": "<%= clientPackageManager %> run webapp:dev",
    "start-tls": "<%= clientPackageManager %> run webapp:dev -- --env.tls",
<%_ if (skipServer) { _%>
    "sonar": "sonar-scanner",
<%_ } _%>
    "pretest": "<%= clientPackageManager %> run lint",
    "test": "<%= clientPackageManager %> run jest",
    "test-ci": "<%= clientPackageManager %> run lint && <%= clientPackageManager %> run jest:update",
    "test:watch": "<%= clientPackageManager %> run jest -- --watch",
    "webapp:build": "<%= clientPackageManager %> run clean-www && <%= clientPackageManager %> run webapp:build:dev",
    "webapp:build:dev": "<%= clientPackageManager %> run webpack -- --config webpack/webpack.dev.js --env stats=minimal",
    "webapp:build:prod": "<%= clientPackageManager %> run webpack -- --config webpack/webpack.prod.js --progress=profile",
    "webapp:dev": "<%= clientPackageManager %> run webpack-dev-server -- --config webpack/webpack.dev.js --inline --env stats=minimal",
    "webapp:dev-verbose": "<%= clientPackageManager %> run webpack-dev-server -- --config webpack/webpack.dev.js --inline --progress=profile --env stats=normal",
    "webapp:prod": "<%= clientPackageManager %> run clean-www && <%= clientPackageManager %> run webapp:build:prod",
    "webapp:test": "<%= clientPackageManager %> run test",
    "webpack-dev-server": "npm run webpack -- serve",
    "webpack": "node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js"
  },
  "jestSonar": {
    "reportPath": "<%= BUILD_DIR %>test-results/jest",
    "reportFile": "TESTS-results-sonar.xml"
  }
}
